<html>
  <head>
  </head>
  <body class="body-timeline">
    <div class="container"><br>
      <h1>Anime Scenery</h1>
      <p class="by-line">by John Smith</p>
      <p>I love drawing out scenes in my head</p>
      <!--
      Note: Overall structure for the code was taken from free, open-source websites. The code is NOT an exact copy of the open-source code, as adaptions were made regarding the implementation, but a large percentage of our code remains identical to the source.

      Code for this timeline was taken from https://codepen.io/melnik909/pen/qPjwvq, from the website, http://freefrontend.com/css-timelines/#horizontal-timelines, which lists many different types of frontends. This code has been adjusted to fit in with our website, but by and large it remains the same.

      A tutorial on how to implement and create a timeline was also followed in the creation of this code: https://www.youtube.com/watch?v=eEybqzuh6Z0. While they use different timelines, the final implementation takes aspects from both.
     -->

      <div class="page">
        <div class="page__demo">
          <div class="main-container page__container">
            <div class="timeline">
              <div class="timeline__group">
                <span class="timeline__year">2017</span>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">2</span>
                    <span class="timeline__month">April</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>Decided to pick up this new project which is super exciting!</p>
                      <div class="dropdown-divider"></div>
                      <div class="timeline-image image4" onclick="window.location='/users/5/5/5';"></div>
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">12</span>
                    <span class="timeline__month">April</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>I felt like I was missing some inspiration so I went out for awhile and just walked around my suburb. I feel like a lot of the time, people don't take enough time to appreciate scenery :)</p>
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">12</span>
                    <span class="timeline__month">Feb</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>The black and white version will be coming out soon - stay tuned :)</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline__group">
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">12</span>
                    <span class="timeline__month">May</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>It ended up taking a lil' longer than expected but... I hope you guys like it!</p>
                      <div class="dropdown-divider"></div>
                      <div class="timeline-image image5" onclick="window.location='/users/5/5/5';"></div>
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">25</span>
                    <span class="timeline__month">June</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>Sorry this next bit is taking so long - I'm still figuring out which colors would work the best</p>
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">8</span>
                    <span class="timeline__month">July</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>I've found a good color scheme so it won't be long!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline__group">
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">18</span>
                    <span class="timeline__month">July</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>What did I say! I hope you guys all enjoyed the ride - I feel like this might be my favorite article yet!</p>
                      <div class="dropdown-divider"></div>
                      <div class="timeline-image image6" onclick="window.location='/users/5/5/5';"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </body>
</html>
