<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" alt="Brand" src="/css/Alogo.png">
          </a>
        </div>
        <li> <a href="/">Avance</a></li>
        <li> <a href="/explore">Explore</a></li>
        <li> <a href="/users/register">Register</a></li>
        <li><a href="/users">Login</a></li>
      </div>
    </nav>
    <div class="container"><br>
      <hr>
      <!-- Code here -->
      <div class="basic-info">
        <div class="updating-info">
          Nurture. Create.
        </div>
        <div class="updating-info">
          Users:
        </div>
        <div class="updating-info">
          Featured:
        </div>
        <div class="updating-info">
          Live:
        </div>
      </div>

      <div class="front-title">
        <h1> Our Stories </h1>
      </div>

      <div class="featured-projects">
        <div id="arrow-left" class="arrow"></div>
        <div id="arrow-right" class="arrow"></div>
        <div id="slider">
          <div class="slide slide1">
            <div class="slide-content">
              <span> Image One </span>
            </div>
          </div>
          <div class="slide slide2">
            <div class="slide-content">
              <span> Image Two </span>
            </div>
          </div>
          <div class="slide slide3">
            <div class="slide-content">
              <span> Image Three </span>
            </div>
          </div>
        </div>
      </div>

      <div class="all-projects">
        <div class="box1">
          Project 1
        </div>
        <div class="box2">
          Project 2
        </div>
        <div class="box3">
          Project 3
        </div>
        <div class="box4">
          Project 4
        </div>
        <div class="box5">
          Project 5
        </div>
        <div class="box6">
          Project 6
        </div>
        <div class="box7">
          Project 7
        </div>
        <div class="box8">
          Project 8
        </div>
        <div class="box9">
          Project 9
        </div>


      </div>

      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/explore-image.js"></script>
  </body>
</html>
