<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Avance</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>

<h1>
    <div class="makeMid" >
        Avance<br/>Coming Soon...
    </div>
</h1>

<p><div class="makeMid">Creators: Kathryn Teo, Justin Song, Lingshen Luo</div></p>
</body>

</html>
