<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css" type="text/css">
    
    
<head>
  <meta charset="UTF-8">
  <title>Avance</title>
</head>
<body>
  <h1>
    <div class="testCSS">
      Avance<br/>Coming Soon...
    </div>
  </h1>
  <ul>
    <li>
      <div class="testCSS">
        Creators: Kathryn Teo, Justin Song, Lingshen Luo
      </div>
    </li>
  </ul>
  <p></p>
</body>
</html>