<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'>


<head>
  <meta charset="UTF-8">
  <title>Avance</title>
</head>

<body>
  <div class="bg-fullscreen">

    <video muted autoplay class="video" id="explosion">
      <source src="/css/color_explosion_on_white.mp4" type="video/mp4">
    </video>
    <a href="/"><img class="logo" src="/css/Alogo.png"/></a>
    <h1 class="text main middle">Avance</h1>
    <p class="text desc middle">Build your creative confidence.</p>
    <h2 class="text main middle">COMING SOON</h2>
    <p class="text desc middle"><a href="/users/register">Register now</a></p>

    <form class="user-form">
      <input type="text" class="user-details" placeholder="Name">
      <input type="text" class="user-details" placeholder="Email">
      <input type="submit" class="submit-button" value="Notify Me">
    </form>

    <p class="text fine footer">
      Creators: Kathryn Teo, Justin Song, Lingshen Luo. Background video:
      <a class="text fine" href="https://www.youtube.com/watch?v=n8H337Ls6Eo">Pink Pink</a>
    </p>

  </div>
</body>
</html>
