<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <a class="navbar-brand" href="/"><img class="logo" src="/css/Alogo.png"></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
              Discover
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a class="dropdown-item" href="/explore/mission">Our mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/explore/team">Our team</a>
              <a class="dropdown-item" href="/explore/support">Support</a>
              <a class="dropdown-item" href="/explore/forum">Forum</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>
    </div>
    </nav>
    <!-- Progress Bar -->
    <div class="container">
      <ul class="progressbar">
        <li class="active">Explore</li>
        <li>Project</li>
        <li>Image</li>
      </ul>
    </div>
    <div class="container"><br>
      <h1> Our Stories </h1>
      <!-- Code here -->
      <div class="basic-info">
        <div class="updating-info">
          Nurture. Create.
        </div>
        <div class="updating-info num-users">
        </div>
        <div class="updating-info num-completed">
        </div>
        <div class="updating-info num-developing">
        </div>
      </div>

      <div class="featured-projects">
        <div id="arrow-left" class="arrow"></div>
        <div id="arrow-right" class="arrow"></div>
        <div id="slider">
          <div class="slide slide1">
            <div class="slide-content">
              <a href="/explore/5/5">
                <span> Autumn Adventure </span>
              </a>
            </div>
          </div>
          <div class="slide slide2">
            <div class="slide-content">
              <a href="/explore/5/5">
                <span> the Vast Sea </span>
              </a>
            </div>
          </div>
          <div class="slide slide3">
            <div class="slide-content">
              <a href="/explore/5/5">
                <span> the Canyon </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="all-projects">
        <div class="box1" onclick="window.location='/explore/5/5';">
          <p> Night Scene</p>
        </div>
        <div class="box2" onclick="window.location='/explore/5/5';">
          <p> Summer girl</p>
        </div>
        <div class="box3" onclick="window.location='/explore/5/5';">
          <p> the Grampians</p>
        </div>
        <div class="box4" onclick="window.location='/explore/5/5';">
          <p> It's not me</p>
        </div>
        <div class="box5" onclick="window.location='/explore/5/5';">
          <p> Dark Flower </p>
        </div>
        <div class="box6" onclick="window.location='/explore/5/5';">
          <p> Aerial Sky </p>
        </div>
        <div class="box7" onclick="window.location='/explore/5/5';">
          <p> Home Away </p>
        </div>
        <div class="box8" onclick="window.location='/explore/5/5';">
          <p> Cloudy Smile </p>
        </div>
        <div class="box9" onclick="window.location='/explore/5/5';">
          <p> Photos in the Wild</p>
        </div>
      </div>
      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/js/explore-image.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
