<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
  </head>
  <body>
    <div class="jumbotron header-background" style="margin-bottom: 0px;">
      <h1 style="text-align:center">Avance</h1>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <a class="navbar-brand" href="/"><img class="logo" src="/css/Alogo.png"></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
              Discover
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a class="dropdown-item" href="/explore/mission">Our mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/explore/team">Our team</a>
              <a class="dropdown-item" href="/explore/support">Support</a>
              <a class="dropdown-item" href="/explore/forum">Forum</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>
    </div>
    </nav>
    <div class="container"><br>
      <hr>
<section id="portfolio" class="page-section section appear clearfix">	
			<div class="container">
		    <div class="heading text-center">
								<!-- Heading -->
								<h2>Your Project Works</h2>
								<p>Here you can discover your project works timeline</p>
							</div>
                        <div class="row">
                          <nav id="filter" class="col-md-12 text-center">
                          <div class="col-md-12">
                            <div class="row">
									<div class="portfolio-item">
										<img src="/css/projectimage1.png"" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage1.png" class="fancybox"><h5>Project 1</h5>
                                                    <marquee direction="up" scrollamount="2">Story 1 and your timeline 1</marquee>
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage2.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage2.png" class="fancybox"><h5>Project 2</h5>
                                                    <marquee direction="up" scrollamount="2">Story 2 and your timeline 2</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage3.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage3.png" class="fancybox"><h5>Project 3</h5>
                                                    <marquee direction="up" scrollamount="2">Story 3 and your timeline 3</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage4.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage4.png" class="fancybox"><h5>Project 4</h5>
                                                    <marquee direction="up" scrollamount="2">Story 4 and your timeline 4</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage5.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage5.png" class="fancybox"><h5>Project 5</h5>
                                                    <marquee direction="up" scrollamount="2">Story 5 and your timeline 5</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage6.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage6.png" class="fancybox"><h5>Project 6</h5>
                                                    <marquee direction="up" scrollamount="2">Story 6 and your timeline 6</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage7.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage7.png" class="fancybox"><h5>Project 7</h5>
                                                    <marquee direction="up" scrollamount="2">Story 7 and your timeline 7</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage8.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage18.png" class="fancybox"><h5>Project 8</h5>
                                                    <marquee direction="up" scrollamount="2">Story 8 and your timeline 8</marquee>
											 </div>										   
										 </div>
									</div>
									<div class="portfolio-item">
										<img src="/css/projectimage9.png" alt="" />
										 <div class="portfolio-desc align-center">
											<div class="folio-info">
												<a href="/css/projectimage9.png" class="fancybox"><h5>Project 9</h5>
                                                   <marquee direction="up" scrollamount="2">Story 9 and your timeline 9</marquee>
											 </div>										   
										 </div>
									</div>
							</div>    
							</div>
                        </div>
			</div>	
</section> 
      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
	<script src="/js/modernizr-latest.js"></script>
	<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="/js/jquery.nav.js" type="text/javascript"></script>
	<script src="/js/jquery.cslider.js" type="text/javascript"></script>
	<script src="/js/custom.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" /> 
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/da-slider.css" />
	<link href="/css/font-awesome.min.css" rel="stylesheet">
  </body>
</html>
