<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <a class="navbar-brand" href="/"><img class="logo" src="/css/Alogo.png"></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
              Discover
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a class="dropdown-item" href="/explore/mission">Our mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/explore/team">Our team</a>
              <a class="dropdown-item" href="/explore/support">Support</a>
              <a class="dropdown-item" href="/explore/forum">Forum</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>
    </div>
    </nav>
    <!-- Progress Bar -->
    <div class="container">
      <ul class="progressbar">
        <li class="active">Explore</li>
        <li>Project</li>
        <li>Image</li>
      </ul>
    </div>
    <div class="container"><br>
      <!-- Code here -->
      <h1> Other User Name</h1>
      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </body>
</html>
