<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <a class="navbar-brand" href="/"><img class="logo" src="/css/Alogo.png"></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
              Discover
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a class="dropdown-item" href="/explore/mission">Our mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/explore/team">Our team</a>
              <a class="dropdown-item" href="/explore/support">Support</a>
              <a class="dropdown-item" href="/explore/forum">Forum</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/5">My Dashboard</a>
          </li>
        </ul>
    </div>
    </nav>
    <div class="container">
      <ul class="progressbar">
        <li class="active">Login</li>
        <li class="active">Dashboard</li>
        <li class="active">Project</li>
      </ul>
    </div>
    <div class="container"><br>
      <hr>
      <h1> Anime Girls Sketch </h1>
      <div class="display-image">
        <img src="/css/clouds_anime_girl.jpg">
        <div class="image-description">
          <p class="project-desc">Description</p>
          <p> My first project sketch, I love watching anime so wanted to give sketching a try! All feedback appreciated!
          </p>
        </div>
        <div class="image-info">
          <p> 19/04/2017 </p>
        </div><br/>
        <p class="project-desc">Comments</p>
        <div class="comments"><br/>
         <div class="comment-box">
            <p class="comment">Great work!</p>
            <p class="commenter">Hiruko Mimi</p>
            <input class="reply" type="text" value=" Leave a reply"/>
            <input class="btn reply-btn" type="button" value="Reply"/>
          </div>
        </div>
      </div>


      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </body>
</html>
