<!DOCTYPE html>
<html>
  <head>
    <title>Avance</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="logo" alt="Brand" src="/css/Alogo.png">
          </a>
        </div>
        <li> <a href="/">Avance</a></li>
        <li> <a href="/stories">Explore</a></li>
        <li> <a href="/users/register">Register</a></li>
        <li><a href="/users">Login</a></li>
      </div>
    </nav>
    <div class="container"><br>
      <hr>
      <!-- Code here -->
      <h1>Her Stories</h1>
      <h5>Written by Avance</h5>
      <p>This is some story text we've left here hee hee</p>
      <hr/><a class="btn btn-default" href="/stories/edit">Edit</a><a class="btn btn-danger delete-article" href="#">Delete</a>
      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
