body,html {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

/* ========== background ========== */
.bg-fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* ========= text styling =========*/
.text {
    font-family: Verdana;
    color: aliceblue;

}

.main {
    font-size: 24px;
}

.desc {
    font-family: Verdana;
    font-size: 18px;
}

.fine {
    font-size: 10px;
    color: darkgrey;
}

/* ========= text positioning ==========*/
.footer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);

}

.middle {
    position: relative;
    text-align: center;
    top: 35%;
}



/* ============== SEARCH BOX ================ */
.user-form {
  position: relative;
  top: 300px;
  display: block;
  max-width: 188px;
  margin: 50px auto;
  text-align: center;
}

input.user-details {
  margin: 5px 0 5px 1px;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  box-shadow: 0 0 5px;
  position: relative;
}

input.submit-button {
  position: relative;
  margin-top: 5px;
  border: 10px solid #F7F7F7;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 0 5px;
}

/*=========================================*/
