<!DOCTYPE html>
<html>
<style>
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  * {
    font-family: 'Ubuntu', sans-serif;
  }
</style>
  <head>
    <title>Avance</title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse-target">
        <a class="navbar-brand" href="/"><img class="logo" src="/css/avance_images/Alogo.png"></a>
        <a class="search-projects" href="/search">Search Projects</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
              Discover
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
              <a class="dropdown-item" href="/explore/mission">Our mission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/explore/team">Our team</a>
              <a class="dropdown-item" href="/explore/support">Support</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Explore</a>
          </li>
          <% if (user) { %>
            <li>
              <a class="nav-link" href="/<%=user.username%>">Dashboard</a>
            </li>
            <li>
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% }  else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% } %>
        </ul>
    </div>
    </nav>

    <%- messages('my_message_template', locals) %>


    <div class="container">
      <ul class="progressbar">
        <li class="active">Login</li>
        <li class="active">Dashboard</li>
        <li class="active">Project</li>
      </ul>
    </div>
    <div class="container"><br>
      <!-- Code here -->
      <h1> Add to Timeline </h1>
      <form action="/image/<%=user.username%>/<%=project._id%>/new/upload" method="POST" enctype="multipart/form-data">
        <div id="form-group">
          <label>Image to Upload: </label>
          <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
        </div> <!--put check mimetype-->
        <div id="form-group">
          <label>Title:</label>
          <input class="form-control" name="name" type="text"/><br/>
          <label>Description:</label>
          <input class="form-control" name="description" type="text"/>
        </div>
        <!--<div id="form-group">
          <label>Picture:</label>
          <input class="form-control" name="picture" type="file"/>
        </div>-->
        <input class="btn btn-primary" style="margin: 1em;" type="submit" value="Submit"/>
      </form>
      <footer>
        <p>Copyright &copy; 2018</p>
      </footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </body>
</html>
