body,html {
  height: 100%;
  margin: 0%;
  padding: 0%;
}
/* ========== Navbar ============== */
nav li {
  list-style-type: none;
}

/* ========== background ========== */
.bg-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.video {
  position: fixed;
  left: 0.00005%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.logo {
  position: absolute;
  width:50px;
  height:50px;

}

/* ========= text styling =========*/
.text {
  font-family: Verdana;
  color: aliceblue;

}

.main {
  font-size: 65px;
  text-shadow: darkslategrey 1px 1px 1px;
}

.desc {
  font-family: "Trebuchet MS";
  font-size: 24px;
  text-shadow: darkslategrey 1px 1px 2px;
}

.fine {
  font-size: 10px;
  color: darkgrey;
}

/* ========= text positioning ==========*/
.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);

}

.middle {
  position: relative;
  text-align: center;
  top: 15%;
}



/* ============== SEARCH BOX ================ */
.user-form {
  position: relative;
  top: 10%;
  display: block;
  max-width: 188px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}

input.user-details {
  margin: 5px 0 5px 1px;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  box-shadow: 0 0 5px;
  position: relative;
  border-radius: 10px;
}

input.submit-button {
  position: relative;
  margin-top: 5px;
  border: 10px solid #F7F7F7;
  border: none;
  color: grey;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  background-color: white;
  font-family: "Comic Sans MS";
}

/*=========================================*/
