/* *{
  border: solid red;
} */

body,html {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.container h1 {
  margin: 0 0 1em 0;
}

/* ========== Navbar ============== */
nav li {
  list-style-type: none;
}

.header-background {
  background-image: url('foggy-mountain.jpg');
  background-size: cover;
  background: contain;
  width: 100%;
  height: 300px;

}

/* ============ Forum ============== */

.popular-posts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  /* grid-auto-rows: 20em; */
  /* grid-auto-rows: minmax(20em, auto); */
  margin: 0 0 3em 0;
  border-radius: 25px;
}

.container.forum {
  background: linear-gradient(
    to right,
    #ccc 0%,
    #ccc 66.2%,
    #16262E 66.2%,
    #16262E 99%
  );
}

.forum-post {
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid gap: 1em;
}

.additional-forum-info {
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background: #16262E;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 3em;
}

.forum-info-styling {
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
}

.post-image {
  width:130px;
  height: 100px;
  grid-column: 1;
  grid-row: 1/4;
  border-radius: 5px;
}

.post-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  /* grid-auto-rows: minmax(20em, auto); */
  margin: 1em 1em 1em 1em;
  grid-column: 1/3;
}

.post-title {
  grid-column: 2/4;
  padding: 0 0 5px 0;
  border-bottom: 1px dashed grey;
}

.post-title a {
  color: orange;
  text-decoration: none;
}

.post-author {

}

.post-content {
  font-style: italic;
}

.comment {
  display: inline;
}

.top-comment {
  padding: 1em 1em 0em 1em;
  font-style: italic;
  display: block;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.votes {
  display: inline-block;
  float: left;
  margin: 1.2em 0.5em 0 1em;
}

.votes p {
  margin: 0 0 0 0.2em;
}



/* ========== background ========== */
.bg-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.video {
  position: fixed;
  left: 0.00005%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.logo {
  width:30px;
  height:30px;
}

/* ========= text styling =========*/
.text {
  font-family: Verdana;
  color: aliceblue;

}

.main {
  font-size: 65px;
  text-shadow: darkslategrey 1px 1px 1px;
}

.desc {
  font-family: "Trebuchet MS";
  font-size: 24px;
  text-shadow: darkslategrey 1px 1px 2px;
}

.fine {
  font-size: 10px;
  color: darkgrey;
}

/* ========= text positioning ==========*/
.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);

}

.middle {
  position: relative;
  text-align: center;
  top: 15%;
}



/* ============== SEARCH BOX ===========*/
.user-form {
  position: relative;
  top: 10%;
  display: block;
  max-width: 188px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}

input.user-details {
  margin: 5px 0 5px 1px;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  box-shadow: 0 0 5px;
  position: relative;
  border-radius: 10px;
}

input.submit-button {
  position: relative;
  margin-top: 5px;
  border: 10px solid #F7F7F7;
  border: none;
  color: grey;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  background-color: white;
  font-family: "Comic Sans MS";
}
/*=========================================*/


/* ============= EXPLORE-PAGE ============*/
.basic-info {
  width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 2em 0;
  border-bottom: 1px solid grey;
}

.updating-info {
  padding: 0 1em 0 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  background: #FBFBF7;
  flex: 1;
}

.featured-projects, #slider, .slide-content{
  border-bottom: 1px solid grey;
  padding: 0 0 1.5em 0;
  margin: 0 0 1.5em 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.featured_projects {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {background-image: url('autumn.jpeg');}
.slide2 {background-image: url('beach.jpg');}
.slide3 {background-image: url('canyon.jpg');}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%%;
  margin-top: 9em;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent orange transparent transparent;
  left: 0;
  margin-left: 10em;
}

#arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent orange;
  right: 0;
  margin-right: 11.4em;
}

.all-projects {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  /* grid-auto-rows: 20em; */
  grid-auto-rows: minmax(20em, auto);
  margin: 0 0 3em 0;
}

.all-projects > div {
  background: #fff;
  padding: 1em;
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.all-projects > div:nth-child(odd){
  background: #ddd;
}

.box1 {
  grid-column: 1/3;
}

.box2 {
  grid-row: 2/4;
}

.box3 {

}

.box4 {

}

.box5 {

}

.box6 {
  grid-column: 2/4;
}

/*=================== TEAM DESCRIPTION ==================*/
.team-descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  /* grid-auto-rows: 20em; */
  grid-auto-rows: minmax(20em, auto);
  margin: 0 0 3em 0;
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.member {
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding: 1em;
  background: white;
}

.member img {
  width: 100%;
  height: auto;
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 1em 0 1em 0;
}

/*=================== Progress Bar =================*/
.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 30px;
  background-color: white;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active{
  color: green;
}

.progressbar li.active:before{
  border-color:green;
  background-color: yellow;
}


/*=================== DISPLAY IMAGE ====================*/
.display-image {
  width: 800px;
  height: 800px;
}

.display-image img {
  width: 100%;
  height: auto;
  border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.display-image .image-description {
  margin: 2em 0 0 0;
}

.display-image .image-info {

}
